<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>feedback</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="center">
      <h1 class="feedback"><%=resp%></h1>
      <br>
      <h4>Here's a random joke for you:</h3>
      <p><%=attrib.joke%></p>

    </div>
  </body>
</html>
