<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="Webstar Maseko">
  <meta name="description" content="I am Siyabonga Webstar Maseko a full stack web developer.">
  <meta name="keywords" content="Siyabonga Webstar Maseko, developer, resume, interactive resume, node developer, backend developer, java, c#,full stack, ace, webstar, maseko, siyabonga">
  <meta property="og:title" content="Siyabonga Webstar Maseko" />
  <meta
      property="og:description"
      content="I am Siyabonga Webstar Maseko, full stack developer."
    />
    <meta property="og:image" content="/images/pp.jpg" />
    <meta property="og:image:alt" content="Webstar" />
    <meta property="og:locale" content="en_GB" />
    <meta
      property="og:url"
      content="https://webstar-maseko.herokuapp.com/"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="robots" content="index, follow" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/Public/site.webmanifest">

  <title>Siyabonga Webstar Maseko</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body class="">
  <div class="loader">
    <img src="/images/480.gif" alt="">
    <p class="move ">loading...</p>
  </div>
  <div class="wrapper animate-bottom">
    <div class="navbar" id="navhead">
      <a class="elemProf" href="#Profile"> Profile</a>
      <a class="elemAbi" href="#Abilities"> Abilities</a>
      <a class="elemExp" href="#Experience"> Experience</a>
      <a class="elemAr" href="#Hobbies"> Hobbies</a>
      <a href="#Dev" class="elemDev" >Blog</a>
      <a class="elemproject" href="#Project">Projects</a>
      <a class="elemeCont" href="#Contact"> Contact</a>
      <button class="anch" type="button" name="button"><i class="light fa fa-moon-o" aria-hidden="true"><i class="tggl"> dark mode</i> </i></button> </a>
      <a class="icon"> <i class="fa fa-bars"></i> </a>
    </div>
 
    <div class="land" data-src="Public/images/header.gif">
      <div class="container">
       <h1 class="hColor" id="name">Siyabonga Webstar Maseko.</h1>
      
        <hr class="hLine">
        <p class="subheading hColor">interactive resume</p> 
        
        <a href="#Profile" class="point"> <img class="anim" src="/images/gif-arrow.gif" alt=""></a>
      </div>

    </div>


    <div class="container-fluid" data-aos="fade-out"  id="Profile">
      <div class="container">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <h1>Profile</h1>
        <h4>Aspiring web and software developer</h4>
        <hr>

      </div>

      <div class="row">
        <div class="col-1 alignCenter">
          <img class="profilePic" src="/images/pp.jpg" alt="my picture">
          <br>
          <br>
         
          <a class="btn" href="/Siyabonga Webstar Maseko - CV.pdf" download>Download CV</a>
        </div>
        <br/>
        <br>
        <div class="col-2">
          <h2>About me</h2>
          <p>
            I am a Bsc in IT graduate of the North West University Vaal triangle campus. I'm interested in software and web development, mostly back-end development, I have full stack development knowledge. I'm looking for an environment where
            I
            can utilize and grow my skills, also meet new people with fascinating minds and exchange ideas with.
          </p>
          <br>
          <h3>Details</h3>

          <p>
            
            <strong>Email:</strong>
            Webstarsiyabonga@gmail.com
            <br>
            <strong>Phone:</strong>
            <br>
            074 859 2573
            <br>
            076 831 7892
            <br>
            <strong>Location: </strong>
            Nhlazatshe 4, Elukwatini, Mpumalanga
            <br>
            South Africa

          </p>
        </div>

      </div>
    </div>

    <div class="dim"  id="Abilities">
      <div class="container-fluid">
        <div class="container">
          <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
          <h1>Abilities</h1>
          <h4>"If I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning." - Mahatma Gandhi </h4>
          <hr>

        </div>
        
        
        <div class="alignCenter">
          <i class="fa fa-wrench " aria-hidden="true"></i>
          <h2 class="alignCenter">Skills</h2>
        </div>
       
        <div class="row">
          <div class="col-1"  data-aos="flip-down" data-aos-delay="50" data-aos-duration="1000">
            <h3 class="alignCenter">Soft Skills</h3>
            
            <p>

            
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/flex.svg"> flexibility</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/ad.svg">Adaptability</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/res.svg"> Responsibility</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/crea.svg"> Creativity</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/time.svg"> Time management</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/tea.svg"> Team player</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/in.svg"> Innovative</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/prob.svg"> Problem solving</button>
              
              </p>
              <br>
          </div>
          <div class="col-2" data-aos="flip-up" >
            <h3 class="alignCenter">Technical Skills</h3>
            
            <p>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/mongodb.svg"> MongoDb</button> 
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/mysql.svg"> MySQL</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/jquery.svg"> JQuery</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/python.svg"> Python</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/react.svg"> React</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/js.svg"> Javascript</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/node-dot-js.svg"> Node.Js</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/java.svg"> Java</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/csharp.svg"> C#</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/html5.svg"> HTML5</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/expressjs.svg"> Express.Js</button>
              <button class="skill-btn"> <img style="height: 30px; " src="/icons/dot-net.svg"> ASP.NET Core</button>

            </p>
            <br>
          </div>

        </div>
        <br>
        <h2 class="alignCenter">Tools</h2>
        <div class="row"data-aos="zoom-in" >
          <div class="col-1" >
            <table>
              <tbody>
                <tr>
                  <td> <button class="tools-btn"> <img style="height: 30px; " src="/icons/git.svg"> Git/Github</button></td>
                    <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/atom.svg"> Atom</button></td>
                </tr>
                <tr>
                  <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/linux.svg"> Kali Linux</button></td>
                
                    <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/visualstudiocode.svg"> Visual Studio Code</button></td>
                  
                </tr>
               
                 
                </tr>
              </tbody>
            </table>

          </div>
          <div class="col-2">
            <table>
              <tbody>
                <tr>
                  <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/visualstudio.svg"> Visual Studio</button></td>
                
                    <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/notepadplusplus.svg"> Notepad ++</button></td>
                  
                </tr>
                <tr>
                  <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/windows.svg"> Windows</button></td>
                
                  <td><button class="tools-btn"> <img style="height: 30px; " src="/icons/microsoftoffice.svg">Microsoft office</button></td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>


        <h2 class="alignCenter">Languages</h2>
        <div class="row">
          <div class="col-1">
            <table>
              <tbody>
                <tr>
                  <td>English</td>
                  <td>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star  "></span>
                    <span class="fa fa-star  "></span>
                    <span class="fa fa-star "></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-2">
            <table>
              <tbody>
                <tr>
                    <td>Siswati</td>
                  <td>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star "></span>
                    <span class="fa fa-star  "></span>
                    <span class="fa fa-star  "></span>
                    <span class="fa fa-star "></span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>



      </div>
    </div>
    <div class="container-fluid" id="Experience">
      <div class="container">
        <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
        <h1>Experience</h1>
        <h4>"The value of experience is not in seeing much, but in seeing wisely" - William Osler</h4>
        <hr>
      </div>
      <div class="alignCenter">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        <h2 class="alignCenter">Education</h2>
      </div>

      <div class="row">
        <div class="col-1" data-aos="flip-up">
          <h3><a href="http://www.nwu.ac.za/"> North West University</a></h3>
          <p>Feb 2018 - Dec 2020</p>

        </div>
        <div class="col-2" data-aos="flip-down">
          <strong class="title"> Bachelor of science in Information Technology</strong>
          <p>The degree was focused on various aspects of computer science, this is where I learned programming. I learned various programming languages like Java, C#, C++ and Python. I was also introduced to data structures and algorithms in Java,
            databse systems, Artificial intelligence, computer networks, system analysis and design, Operating Systems. To name a few.</p>
        </div>
      </div>
        <div class="row">
          <div class="col-1" data-aos="flip-down">
            <h3><a href="https://freecodecamp.org/certification/webstar_maseko/javascript-algorithms-and-data-structures"> FreeCodeCamp</a></h3>
            <p>April 2021</p>
  
          </div>
          <div class="col-2" data-aos="flip-up">
            <strong class="title"> Certificate Of Completion</strong>
            <p>Successfully completed 300 hours of Algorithms and Data structures in Javascript. The remote course was focused on various aspects of Javascript, the new syntax of ES6, utilizing objects and arrays and more... </p>
          </div>
        </div>
  

      
      <div class="row">
        <div class="col-1" data-aos="flip-down">
          <h3><a href="https://www.udemy.com/certificate/UC-78221503-fa05-4e69-9607-c711fb822166/">Udemy</a> </h3>
          <p>Dec 2020</p>
        </div>
        <div class="col-2" data-aos="flip-up">
          <strong class="title"> Certificate Of Completion</strong>
          <p>Succeessfully completed The Complete 2020 Web Development bootcamp. On this remote course I learned how to use JQuery, Node.js, React.js, Express.js, Bootstrap, MongoDb and more to develop fully functional responsive web applications.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-1" data-aos="flip-right">
          <h3>Dlomodlomo Secondary School</h3>
          <p>Jan 2012 - Nov 2016</p>
        </div>
        <div class="col-2" data-aos="flip-left">
          <strong class="title"> Matric certificate</strong>
          <p>I completed high school in 2016, where I majored in Mathematics, Physical sciences and Accounting.</p>
        </div>

      </div>
      <br>
      <div class="alignCenter">
        <i class=" alignCenter fa fa-briefcase " aria-hidden="true"></i>
        <h2>Work Experience</h2>
      </div>

      <div class="row">
        <div class="col-1" data-aos="flip-left"  data-aos-easing="ease-out-cubic">
          <h3><a href="http://www.nwu.ac.za/"> North West University</a></h3>
          <p>July 2019 - July 2020</p>
        </div>
        <div class="col-2" data-aos="flip-right"  data-aos-easing="ease-out-cubic">
          <strong>Student Assistant</strong>
          <p>I worked as a student assistant during my second and third year at the University. I assisted first year and second year students with graphical user interface programming in C#. I was responsibe for assisting in class and marking
            assignments and tests.</p>
        </div>

      </div>

    </div>
    <div class="dim" id="Hobbies">
      <div class="container-fluid" >
        <div class="container">
          <i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>
          <h1>Hobbies</h1>
          <h4>"We are shaped and fashioned by what we love"- Goethe</h4>
          <hr>
        </div>
        <div class="hobbies" data-aos="flip-right">
          <img src="/images/lens.jpg" class="hbPic fl-left" alt="">
          <h3>Photography</h3>
          <p>What's a good way to relive certain occasions than starring at your galllery and reminiscing about that specific moment? I love capturing the simple priceless moments with friends</p>
        </div>
        <div class="hobbies" data-aos="flip-left">
          <img src="/images/Music.jpg" class="hbPic fl-right" alt="">
          <h3>Music</h3>
          <p>The say music is the best free therapy one can ever attend. I love listening to music when I'm programming or cleaning the house. A day without listening to music is tortue.</p>

        </div>
        <div class="hobbies" data-aos="flip-up">
          <img src="/images/Book.jpg" class="hbPic fl-left" alt="">
          <h3>Books</h3>
          <p>There's a high possibility that whatever you are going through somebody has already gone through it and found specific methods to solve that particular issue and wrote them down for others to try. Knowledge is the best thing that a
            person
            can invest in, I like to read books about personal development and fiction</p>

        </div>
        <div class="hobbies" data-aos="flip-down">
          <img src="/images/mat.jpg" class="hbPic fl-right" alt="">
          <h3>Skateboarding</h3>
          <p>I can't ride a bike but that doesn't mean I can't skate. I spend time outdoors with friends breaking a couple of bones every now and then. </p>
        </div>
        <div class="hobbies" data-aos="flip-left">
          <img src="/images/code.png" class="hbPic fl-left" alt="">
          <h3>Programming</h3>
          <p>The abiltiy to turn coffee into code. I spend most of my time learning new languages and improving my skills in some other languages. I'm trying to turn a hobby into a profession</p>
        </div>
   
      
      </div>
    </div>
    <div class="" id="Dev">
      <div class="container-fluid">
        <div class="container">
          <h1>Blog</h1>
          <h4>This section is focused on live tweets updates from FreeCodeCamp. It is to highlight what I use to stay updated on trends and new tutorials regarding my favourite programming languages.</h4>
        </div>
          <div class="card-wrap content">
          <%data.forEach(function(item){ %>
              <div class="card alignCenter">
                <article role="article">
                  <% let entity = item.entities%>
                  <%if(entity === undefined){%>
                    <p><%=item%> </p>
                  <%} else {%>
                  <% let url =entity.urls%>
                  
                  <%url.forEach(function(entit){ %>
                    <h3>@FreeCodeCamp</h3>
                    <p> <%=(item.text.substr(0, entit.start)).replace(/&amp;/g, "&") %></p>

                      <a target="_blank" rel="noreferrer" href="<%=entit.url%>"> <%=entit.display_url%></a>
                  
                      <%})%>
                  <%}%>
                </article>
              </div>

          <%})%>
          <a class="prev" >&#10094; </a>
          <a class="next" >&#10095;</a>
          </div>

      </div>
    </div>
    <div class="dim" id="Project">
      <div class="container-fluid">
      <div class="container">
        <h1>Projects</h1>
        <h4>"Start where you are. Use what you have. Do what you can." - Arthur Ashe</h4>
        <hr/>
      </div>
      <div class="row">
        <div class="col-1">
          <div class="wrap-anim">
            <img src="/images/emp.png" width="100%" height="300px" alt="">
            <div class="to-anim">
              <p> Built an employee management website using C#, Asp.net Core, Javascript and Bootstrap. It has CRUD functionality, role based access </p>
              <a class="btn" target="_blank" href="https://github.com/Webstar-Maseko/Dimension-Data">Preview</a>
            </div>
          
          </div>
          
       
        </div>
        <div class="col-2">
          <div class="wrap-anim">
            <img src="/images/keeper.png" width="100%" height="300px"alt="">
            <div class="to-anim">
              <p> Built a mini clone of google-keep using the MERN stack, it has all the CRUD functionality. </p>
              <a class="btn" target="_blank" href="https://notes-store.herokuapp.com/">Preview</a>
            
            </div>
           
          </div>
         
        </div>
      </div>
    </div>
    </div>

    <div class="footer" id="Contact">
      <div class="container-fluid">
        <div class="container">
          <h1> Contact</h1>
          <h4>"Every mind needs friendly contact with other minds, for food of expansion and growth" - Napoleon Hill</h4>
          <hr>
        </div>
        <div class="content">
          <h3>Get in touch</h3>
          <form class="" action="/" method="post">
            <input type="text" name="subject" value="" required placeholder="Subject">
            <input type="email" name="email" value="" required placeholder="Email">
            <textarea name="message" rows="5" required placeholder="message" cols="80"></textarea>
            <button type="submit" class="btn-sub" name="button">Submit</button>
          </form>


          <br>
          <p class="iconCl">
            <a class="links" href="https://github.com/Webstar-Maseko"><i class="fa fa-github fa-2x" aria-hidden="true"></i> </a>
          </p>
          <p class="iconCl">
            <a class="links" href="https://www.twitter.com/Webstar_Maseko"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a>
          </p>
          <p class="iconCl">
            <a class="links" href="https://www.instagram.com/webstar_m"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </a>
          </p>
          <p class="iconCl">
            <a class="links" href="https://www.linkedin.com/in/webstar-maseko-231b1519a"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> </a>

          </p>
          <br>
          <p class="end">This was developed using JQuery, Node.js, HTML5 and CSS</p>
          <p class="end" id="foot"></p>
        </div>
      </div>


    </div>
  </div>

  <script src="script.js" charset="utf-8"></script>
  <script type="text/javascript">
  let year = new Date();
 

  document.getElementById("foot").innerHTML = "Webstar Maseko © " + year.getFullYear();
  
  </script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({delay:80, duration:2000});
    </script>

</body>

</html>
