<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Webstar Maseko">
  <meta name="description" content="I am Siyabonga Webstar Maseko a full stack web developer. I love back-end">
  <meta name="keywords" content="Siyabonga Webstar Maseko, developer, resume, interactive resume, node developer, backend developer, java, c#,full stack, ace">
  <meta name="robots" content="index, follow">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/Public/site.webmanifest">

  <title>Siyabonga Webstar Maseko</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Play&family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="">

  <div class="loader">
    <img src="/images/480.gif" alt="">
    <p class="move">loading</p>
  </div>
  <div class="wrapper animate-bottom">

  <div class="navbar" id="navhead">
    <a class="elemProf" href="#Profile"> Profile</a>
    <a class="elemAbi" href="#Abilities"> Abilities</a>
    <a class="elemExp" href="#Experience"> Experience</a>
    <a class="elemAr" href="#Hobbies"> Hobbies</a>
    <a class="elemeCont" href="#Contact"> Contact</a>
    <button class="anch" type="button" name="button"><i class="light fa fa-moon-o" aria-hidden="true"><i class="tggl"> dark mode</i> </i></button> </a>
    <a class="icon"> <i class="fa fa-bars"></i> </a>
  </div>
  <div class="">

  </div>

  <div class="land" data-src="Public/images/header.gif" style="height:693px;">
    <div class="container">
      <h1 class="hColor" id="name">Siyabonga Webstar Maseko</h1>
      <hr class="hLine">
      <p class="subheading hColor">interactive resume</p>
      <a href="#Profile" class="point"> <img class="anim" src="/images/gif-arrow.gif" alt=""></a>
    </div>

  </div>


  <div class="container-fluid" id="Profile">
    <div class="container">
      <i class="fa fa-user fa-3x" aria-hidden="true"></i>
      <h1>Profile</h1>
      <h4>Aspiring web and software developer</h4>
      <hr>

    </div>

    <div class="row">
      <div class="col-1 alignCenter">
        <img class="profilePic" src="/images/pp.jpg" alt="my picture">
        <br>
        <br>
        <a href="/Maseko.pdf">Download CV</a>
      </div>
      <div class="col-2">
        <h2>About me</h2>
        <p>
          I am a final year IT student at the North West University Vaal triangle campus. I'm interested in software and web development, mostly back-end development but I have full stack development knowledge. I'm looking for an environment where I
          can utilize and grow my skills, also meet new people with fascinating minds and exchange ideas with.
        </p>
        <br>
        <h3>Details</h3>

        <p>
          <strong>Age: </strong>
          21
          <br>
          <strong>Email:</strong>
          Webstarsiyabonga@gmail.com
          <br>
          <strong>Phone:</strong>
          <br>
          074 859 2573
          <br>
          076 831 7892
          <br>
          <strong>Location: </strong>
          Nhlazatshe 4, Elukwatini, Mpumalanga
          <br>
          South Africa

        </p>
      </div>

    </div>
  </div>

  <div class="dim">
    <div class="container-fluid" id="Abilities">
      <div class="container">
        <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
        <h1>Abilities</h1>
        <h4>"If I have the belief that I can do it, I shall surely acquire the capacity to do it even if I may not have it at the beginning." - Mahatma Gandhi </h4>
        <hr>

      </div>
      <h2 class="alignCenter">Skills</h2>
      <div class="row">
        <div class="col-1">

          <table>
            <tbody>
              <tr>
                <td>MongoDb</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>MySQL</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>JQuery</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>Python</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <div class="col-2">
          <table>
            <tbody>
              <tr>
                <td>Node.Js</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-half-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>Java</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-half-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>C#</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-half-o "></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>

              <tr>
                <td>HTML5</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
      <br>
      <h2 class="alignCenter">Tools</h2>
      <div class="row">
        <div class="col-1">
          <table>
            <tbody>
              <tr>
                <td>Git/Github</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star-half-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>Atom</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star-half-o"></span>
                </td>
              </tr>
              <tr>
                <td>Kali Linux</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>Blue J</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star  "></span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-2">
          <table>
            <tbody>
              <tr>
                <td>Visual Studio</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>
              <tr>
                <td>Notepad ++</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>

                </td>
              </tr>
              <tr>
                <td>Windows</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star-half-o"></span>
                </td>
              </tr>
              <tr>
                <td>IntelliJ</td>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star-half-o"></span>
                  <span class="fa fa-star-o"></span>
                  <span class="fa fa-star-o"></span>
                </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>
      <h2 class="alignCenter">Languages</h2>
      <div class="row">
        <div class="col-1">
          <table>
            <tbody>
              <tr>
                <td>English</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-2">
          <table>
            <tbody>
              <tr>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star "></span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <table>
            <tbody>
              <tr>
                <td>Siswati</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-2">
          <table>
            <tbody>
              <tr>
                <td>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star  "></span>
                  <span class="fa fa-star "></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>



      </div>



    </div>
  </div>
  <div class="container-fluid" id="Experience">
    <div class="container">
      <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
      <h1>Experience</h1>
      <h4>"The value of experience is not in seeing much, but in seeing wisely" - William Osler</h4>
      <hr>
    </div>
    <div class="alignCenter">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <h2 class="alignCenter">Education</h2>
    </div>

    <div class="row">
      <div class="col-1">
        <h3><a href="http://www.nwu.ac.za/"> North West University</a></h3>
        <p>In progress</p>

      </div>
      <div class="col-2">
        <strong class="title"> Bachelor of science in Information Technology</strong>
        <p>The education is focused on various aspects of computer science, this is where I learned programming. I learned various programming languages like Java, C#, C++ and Python. I was also introduced to data structures and algorithms in Java,
          databse systems, Artificial intelligence, computer networks, system analysis and design, Operating Systems. To name a few.</p>
      </div>

    </div>
    <div class="row">
      <div class="col-1">
        <h3>Dlomodlomo Secondary School</h3>
        <p>Jan 2012 - Nov 2016</p>
      </div>
      <div class="col-2">
        <strong class="title"> Matric certificate</strong>
        <p>I completed high school in 2016, where I majored in Mathematics, Physical sciences and Accounting.</p>
      </div>

    </div>
    <br>
    <div class="alignCenter">
      <i class=" alignCenter fa fa-briefcase " aria-hidden="true"></i>
      <h2>Work Experience</h2>
    </div>

    <div class="row">
      <div class="col-1">
        <h3><a href="http://www.nwu.ac.za/"> North West University</a></h3>
        <p>July 2019 - July 2020</p>
      </div>
      <div class="col-2">
        <strong>Student Assistant</strong>
        <p>I worked as a student assistant during my second and third year at the University. I assisted first year and second year students with graphical user interface programming in C#. I was responsibe for assisting in class and marking
          assignments and tests.</p>
      </div>

    </div>

  </div>
  <div class="dim">
    <div class="container-fluid" id="Hobbies">
      <div class="container">
        <i class="fa fa-paint-brush fa-3x" aria-hidden="true"></i>
        <h1>Hobbies</h1>
        <h4>"We are shaped and fashioned by what we love"- Goethe</h4>
        <hr>
      </div>
      <div class="hobbies">
        <img src="/images/lens.jpg" class="hbPic fl-left" alt="">
        <h3>Photography</h3>
        <p>What's a good way to relive certain occasions than starring at your galllery and reminiscing about that specific moment? I love capturing the simple priceless moments with friends</p>
      </div>
      <div class="hobbies">
        <img src="/images/Music.jpg" class="hbPic fl-right" alt="">
        <h3>Music</h3>
        <p>The say music is the best free therapy one can ever attend. I love listening to music when I'm programming or cleaning the house. A day without listening to music is tortue.</p>

      </div>
      <div class="hobbies">
        <img src="/images/Book.jpg" class="hbPic fl-left" alt="">
        <h3>Books</h3>
        <p>There's a high possibility that whatever you are going through somebody has already gone through it and found specific methods to solve that particular issue and wrote them down for others to try. Knowledge is the best thing that a person
          can invest in, I like to read books about personal development and fiction</p>

      </div>
      <div class="hobbies">
        <img src="/images/mat.jpg" class="hbPic fl-right" alt="">
        <h3>Skateboarding</h3>
        <p>I can't ride a bike but that doesn't mean I can't skate. I spend time outdoors with friends breaking a couple of bones every now and then. </p>
      </div>
      <div class="hobbies">
        <img src="/images/code.png" class="hbPic fl-left" alt="">
        <h3>Programming</h3>
        <p>The abiltiy to turn coffee into code. I spend most of my time learning new languages and improving my skills in some other languages. I'm trying to turn a hobby into a profession</p>
      </div>
      <div class="content">
        <hr>
        <strong>sunset pictures I took:</strong>
      </div>

      <div class="pics">
        <img class="shots" src="/images/sun2.jpg" alt="img">
        <img class="shots" src="/images/sun3.jpg" alt="img">
        <img class="shots" src="/images/sun4.jpg" alt="img">
        <img class="shots" src="/images/projX.jpg" alt="img">
        <img class="shots" src="/images/projX0.jpg" alt="img">
        <img class="shots" src="/images/projX2.jpg" alt="img">
      </div>
    </div>
  </div>

  <div class="footer" id="Contact">
    <div class="container-fluid">
      <div class="container">
        <h1> Contact</h1>
        <h4>"Every mind needs friendly contact with other minds, for food of expansion and growth" - Napoleon Hill</h4>
        <hr>
      </div>
      <div class="content">
        <h3>Get in touch</h3>
        <form class="" action="/" method="post">
          <input type="text" name="subject" value="" placeholder="Subject">
          <input type="email" name="email" value="" placeholder="Email">
          <textarea name="message" rows="5" placeholder="message" cols="80"></textarea>
          <button type="submit" name="button">Submit</button>
        </form>


        <br>
        <p class="iconCl">
          <a class="links" href="https://www.facebook.com/ace.cInterestser.144"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </a>
        </p>
        <p class="iconCl">
          <a class="links" href="https://www.twitter.com/Webstar_Maseko"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> </a>
        </p>
        <p class="iconCl">
          <a class="links" href="https://www.instagram.com/webstar_m"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </a>
        </p>
        <p class="iconCl">
          <a class="links" href="https://www.linkedin.com/in/webstar-maseko-231b1519a"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> </a>

        </p>
        <br>
        <p class="end">This was developed using JQUERY, HTML5 AND CSS</p>
        <p class="end">Webstar Maseko © 2020</p>

      </div>
    </div>

  </div>
    </div>

  <script src="script.js" charset="utf-8"></script>

</body>

</html>
