<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Play&family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar" id="navhead">
      <a class="active" href="#Profile"> Profile</a>
      <a href="#Abilities"> Abilities</a>
      <a href="#Experience"> Experience</a>
      <a href="#Art"> Art</a>
      <a href="#Blog"> Blog</a>
      <a href="#Contact"> Contact</a>
      <a href="#" class="icon"> <i class = "fa fa-bars"></i> </a>

    </div>

    <div class="land" data-src="Public/images/header.gif" style="height:693px;" >
       <div class="container">
         <h1 class="hColor" id="name"></h1>
         <p class="subheading hColor">interactive resume</p>

       </div>
     </div>


         <div class="container-fluid" id="Profile">
           <div class="container">
             <i class="fa fa-user fa-3x" aria-hidden="true"></i>

             <h1 class="headings">Profile</h1>
             <h4 class="headings">Aspiring web and software developer</h4>
              <hr>
           </div>

           <div class="pic">
                <img class="profilePic" src="/images/pp.jpg" alt="my picture">
                <h3>Details</h3>
                <p>NAME:</p>
                <p>aGE</p>
                  <p>aGE</p>
                    <p>aGE</p>

           </div>




         </div>
         <script src="script.js" charset="utf-8"></script>

  </body>
</html>
