<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="navbar" id="navhead">
      <a class="active" href="#Profile"> Profile</a>
      <a href="#Abilities"> Abilities</a>
      <a href="#Experience"> Experience</a>
      <a href="#Art"> Art</a>
      <a href="#Blog"> Blog</a>
      <a href="#Contact"> Contact</a>
      <a href="#" class="icon"> <i class = "fa fa-bars"></i> </a>

    </div>

    <div class="land" data-src="Public/images/header.gif" data-position="bottom right" style="height:647px;" >
       <div class="container">
         <h1 id="name"></h1>
         <p class="subheading">interactive resume</p>

       </div>

         <script src="script.js" charset="utf-8"></script>
  </body>
</html>
