body{
  color: black;
  font-size: 1.23rem;
  margin: 0;
  font-family: 'Play', sans-serif;
}

.alignCenter{
  text-align: center;
}
.profilePic{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-style: double;
  border-color:brown;
}
.container-fluid{

  margin-left: 5rem;
  margin-right: 5rem;
  padding-bottom: 4rem;
}

.hColor{
  color: #81b214;
}
.land{
    background-image: url("/images/ace.jpg");
    background-position:left;

}
.land .container{
  position: relative;
  top: 15%;
  /* z-index: 4; */
  max-width: 100%;
}
.navbar{
  background-color: black;
  position: fixed;
  width: 100%;
  text-align: center;

}
.navbar .icon{
  display: none;
}
.navbar .active{

  color: brown;
}
.navbar a:hover{
  background-color: #ddd;
  color: black;
}
.navbar a{
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;

}

.title{
  margin-top: 7px;
  padding-top: 40px;
  font-weight: bolder;
}

.headings{
  color: black;
}
.container{
  padding: 6% 20%;
  text-align: center;
}
.content{
  padding: 0 20% 5%;
  text-align: center;
}
.dim{
  background-color: #f7f2e7;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
#Abilities{
  max-width: 100%;
  max-height: inherit;
}
.pics{
    width: 100%;
  background-color: black;
}
.footer{
  background-image: -webkit-linear-gradient(-80deg, #f7f2e7 50%,#9d65c9 50%);
}
.links{
  padding:0.5rem 1rem;
  color:#2d132c;
  transition: all .2s;
}

.unchecked{
  color: white;
}
.shots{
  width: 24.5rem;
  height: 16rem;
  padding: 0;
}
.shots:hover{
  transform: scale(1.1);
}
.fa:hover{
  font-size: 140%;
}
hr{
  border-style: dotted;
  border-width:thin;
  border-color: grey;
}
a{
  text-decoration: none;
  color: purple;

}

a:hover{
  font-size: 120%;
}
p{
  display: block;

}
h3, h2{
  font-weight: 800;
  margin-top: 7px;
}
table{
  width : 100%;

}
tr, td{
  text-align: left;
  padding: 0.87rem;
}

/* media queries */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child){display: none;}
  .navbar a.icon{
    float: right;
    display: block;
  }

}
@media screen and (max-width: 600px){
  .navbar.responsive{position: relative;}
  .navbar.responsive .icon{
    position: absolute;
    right: 0;
    top : 0;
  }
  .navbar.responsive a{
    display: block ;
    text-align: left;
    float: none;
  }

}
@media screen and (min-width : 768px){
  .col-1 {
    float: left;
    flex: 0 0 50%;
    width : 50%;
    padding-bottom: 20px;
  }
  .col-2 {
    float: right;
    flex: 0 0 50%;
    width : 50%;
    padding-bottom: 20px;
  }

}
