body{
  color: black;
  font-size: 1.23rem;
  margin: 0;
  font-family: 'Play', sans-serif;
}
hr{
  border-style: dotted;
  border-width: thin;
  border-color: grey;


}
.alignCenter{
  text-align: center;
}
.profilePic{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border-style: double;
  border-color:brown;
}
.container-fluid{

  margin-left: 5rem;
  margin-right: 5rem;
}

.hColor{
  color: #81b214;
}
.land{
    background-image: url("/images/header.gif");
    background-position: center;
}
.land .container{
  position: relative;
  top: 15%;
  /* z-index: 4; */
  max-width: 100%;
}
.navbar{
  background-color: black;
  position: sticky;
  text-align: center;

}
.navbar .icon{
  display: none;
}
.navbar .active{

  color: brown;
}
.navbar a:hover{
  background-color: #ddd;
  color: black;
}
.navbar a{
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;

}

.headings{
  color: black;
}
.container{
  padding: 6% 20%;
  text-align: center;
}
.content{
  padding-left: 33px;
}
.dim{
  background-color: #f7f2e7;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
#Abilities{
  max-width: 100%;
  max-height: inherit;
}
.unchecked{
  color: white;
}
p{
  display: block;

}
h3, h2{
  font-weight: 800;
  margin-top: 7px;
}
table{
  width : 100%;

}
tr, td{
  text-align: left;
  padding: 0.87rem;
}

/* media queries */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child){display: none;}
  .navbar a.icon{
    float: right;
    display: block;
  }

}
@media screen and (max-width: 600px){
  .navbar.responsive{position: relative;}
  .navbar.responsive .icon{
    position: absolute;
    right: 0;
    top : 0;
  }
  .navbar.responsive a{
    display: block ;
    text-align: left;
    float: none;
  }

}
@media screen and (min-width : 768px){
  .col-1 {
    float: left;
    flex: 0 0 50%;
    width : 50%;
    padding-bottom: 20px;
  }
  .col-2 {
    float: right;
    flex: 0 0 50%;
    width : 50%;
    padding-bottom: 20px;
  }

}
